section.about
    .container
        .title.title--with-bottom-line
            h2.title.title__header О нас
            .title__text Нам доверили свою бухгалтерию более двухсот предприятий и предпринимателей

        ul.about__list
            li.about__item
                .icon.icon-like
                h4.about__header Отправка отчетности в контролирующие органы
                p.about__description Полный спектр бухгалтерских услуг. Поможем возместить НДС. Получить налоговый вычет по форме 3-НДФЛ.
            
            li.about__item
                .icon.icon-book
                h4.about__header Программы 1С.Бухгалтерия и 1С.УНФ в "Облаке"
                p.about__description При заключении договора на бухгалтерское обслуживание 1С.Бухгалтерия предоставляется бесплатно. 1С.УНФ от 700 руб. в месяц.

            li.about__item
                .icon.icon-message
                h4.about__header Регистрация предприятий и предпринимателей.
                p.about__description Регистрация предприятий и предпринимателей без посещения ФНС и оплаты госпошлины. Бесплатное открытие расчетного счета.     
    