section.approch
    .container
        .title.title--with-bottom-line
            h2.title__header Наша работа
            .title__text По шагам

        ul.approch__list
            li.approch__item
                .approch_image                       
                    .approch__step
                .approch__text
                    .approch__title Шаг 1: Создаем приложение.
                    p.approch__description.
                        Создаем в облаке приложение 1С:Бухгалтерия и личный кабинет для связи
                        с нами. Через личный кабинет или на электронную почту присылаете нам сканы первичных
                        документов.

            li.approch__item
                .approch_image                        
                    .approch__step
                .approch__text
                    .approch__title Шаг 2: Заносим и проверяем данные. 
                    p.approch__description.
                        Бухгалтер забивает документы в программу или Вы самостоятельно заносите их в программу,
                        а бухгалтер только проверяет правильность и если нужно вносит исправления.
            
            li.approch__item
                .approch_image                       
                    .approch__step
                .approch__text
                    .approch__title Шаг 3: Рассчитываем сумму налогов и сборов.
                    p.approch__description.
                        Бухгалтер расчитывает сумму налогов и сборов, согласует её с Вами 
                        и если необходимо консультирует по оптимизации налогообложения. 

            li.approch__item
                .approch_image                        
                    .approch__step
                .approch__text
                    .approch__title Шаг 4: Отправляем отчеты
                    p.approch__description.
                        Бухгалтер отправляет необходимые отчеты в контролирующие органы и 
                        направляет Вам платежные поручения для оплаты налогов и сборов.