section.form-section
    .container
        .title
            h2.title.title__header Оставьте заявку
            .title__text Мы свяжемся с Вами

        .btn-down: a.arrow-down: i.fa.fa-angle-down

        .form-container
            form(method="post" action="#").form
                button(type="button").form__close-button x
                .form__text.
                    Оставьте заявку мы свяжемся с Вами и проконсультируем по имеющимся вопросам.
                .form__fields
                    input.form__input(type="text" placeholder="Имя" data-valid="required" data-name)
                    input.form__input(type="text" placeholder="Email" data-valid="required" data-email)
                    input.form__input(type="text" placeholder="Телефон" data-valid="required" data-number)
                    input.form__input(type="text" placeholder="Сообщение" data-valid="required" data-mess)
                    input.form__input(type="checkbox" data-valid="required" data-check )                    
                     
                a.right(href="#" )
                    span.rightitle Даю согласие на обработку моих персональных данных      
                p.textright.
                    Пользователь (далее – «Пользователь»), проставляя «галочку» или «веб-метку» в графе «Я даю согласие на обработку моих персональных данных» и нажимая соответствующую кнопку принимает настоящее согласие на обработку персональных данных (далее – «Согласие»).  Действуя свободно, своей волей и в своем интересе, а также подтверждая свою дееспособность, Пользователь дает согласие обществу с ограниченной ответственностью «Бизнес-Право» (сокращенное наименование – ООО «Бизнес-Право») ОГРН 1020300979710, ИНН 0326010340, которое расположено по адресу: 670050, г. Улан-Удэ, Соборная ул., д.18/2  на обработку своих персональных данных, указанных Пользователем путем заполнения поля в форме «Обратная связь» на интернет-сайте 1cbo.bp03.ru (далее - «Сайт»).
                    Согласие дается Пользователем на обработку следующих персональных данных Пользователя, не являющихся специальными или биометрическими: адрес электронной почты; пользовательских данных: файлы cookie, тип и версия ОС, тип и версия браузера, тип устройства и разрешение его экрана, источник откуда пришел на сайт Пользователь, с какого сайта или по какой рекламе, язык ОС и браузера, какие действия совершает Пользователь на Сайте, ip-адрес.
                    Согласие Пользователя на обработку его персональных данных является конкретным, информированным и сознательным.
                    Цель обработки персональных данных Пользователя: регистрация Пользователя на Сайте, идентификация Пользователя; аналитика действий Пользователя на Сайте,  выполнение требований законодательных актов, нормативных документов.
                    Основанием для обработки Персональных данных Пользователя является: ст.24 Конституции Российской Федерации, настоящее Согласие.
                    ООО «Бизнес-Право» осуществляет совокупность действий (операций) с использованием средств автоматизации или без использования таких средств с персональными данными Пользователя, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), блокирование, удаление, уничтожение Персональных данных Пользователя.
                    Персональные данные не являются общедоступными.
                    Настоящее Согласие действует с момента акцепта Пользователем Согласия и до момента прекращения работы Сайта.
                    Согласие на обработку персональных данных может быть отозвано Пользователем путем направления письменного заявления, которое подписывается Пользователем и вручается, либо направляется заказным письмом с уведомлением о вручении ООО «Бизнес-Право» по адресу, указанному в начале данного Согласия.
                    В случае отзыва Пользователем Согласия на обработку его персональных данных ООО «Бизнес-Право» при наличии оснований, указанных в пунктах 2-11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона от 27.07.2006 г. № 152-ФЗ «О персональных данных», вправе продолжить обработку персональных данных Пользователя. При отсутствии перечисленных выше оснований ООО «Бизнес-Право» прекращает обработку Персональных данных Пользователя и уничтожает Персональные данные в срок, не превышающий тридцати календарных дней с даты поступления указанного отзыва.
                
                button(type="submit").button.button--uppercase.button--red Отправить  

                