header.header
    .header__top
        .container
            .contacts
                a.contact(href="Телефон:379494")
                    i.fa.fa-phone.contact__icon
                    span.contact__text 8 (3012) 379494
                a.contact(href="mailto:218808@mail.ru")
                    i.fa.fa-envelope.contact__icon.contact__icon--email
                    span.contact__text 218808@mail.ru
                a.facebook-icon(href="facebook.com")
                    i.fa.fa-facebook-f
        
    .container
        .header__bottom            
            .logo: img.logo__picture(src="images/logo.png", alt="picture")
            nav.nav
                span.name ООО "Бизнес-Право"/ г.Улан-Удэ
                - var items = ['Главная','О нас','Наша работа','Наши тарифы']
                - var dataItems = ['header', 'about', 'approch', 'work']
                each item, i in items
                    if i === 0
                        a.nav__link.nav__link--active(href="#" data-link=dataItems[i])=item
                    else
                        a.nav__link(href="#" data-link=dataItems[i])=item
            a.button.header__button.button--red(href="#" data-consult) Бесплатная консультация

