header.header
    .header__top
        .container
            .contacts
                a.contact(href="Телефон:379494")
                    i.fas.fa-phone-square
                    span.contact__text 379494
    .header__bottom
