header.header
    .header__top
        .container
            .contacts
                a.contact(href="Телефон:379494")
                    i.fas.fa-phone-square
                    span.contact__text 379494
                a.contact(href="mailto:218808@mail.ru")
                    i.fas.fa-envelope
                    span.contact__text 218808@mail.ru
                a.facebook-icon(href="facebook.com")
                    i.fab.fa-facebook-f
        
    .container
        .header__bottom
            .logo: img.logo__picture(src="images/logo.png", alt="picture")
