section.profit
    .container
        .title.title--with-bottom-line
            h2.title__header Почему мы?
            .title__text В чем Ваша выгода?
        p.profit__description
            |Главное в бизнесе получить прибыль - увеличить доходы и снизить расходы. С нашей помощью Вы настроите учёт товаров и денежных средств в автоматическом режиме в программе 1С:Бухгалтерия, которую мы предоставим бесплатно. В любой момент времени Вы будете знать, сколько товаров у Вас должно быть на остатке, и сможете проверить своих работников.
            |Для помощи вашему бухгалтеру есть тариф «Программа и консультации» за 1500 в месяц. Вы получаете не просто программу для прозрачного учёта своего бизнеса, но и помощь по налоговым вопросам от крупнейшей консалтинговой компании Бурятии!
            |Вы можете увеличить свою прибыль и от экономии на бухгалтере. Доверьте нам ведение своей бухгалтерии, обслуживание стоит от 2000 рублей в месяц. Аудиторы 1С:БухОбслуживания регулярно проверяют работу наших сотрудников, чего Вам не сможет обеспечить Ваш сотрудник.  
            br
            |«Бизнес-Право» с 2001 года защищает права бизнеса, а, значит, и Ваши деньги. Наш опыт есть даже в справочно-правовой системе «Консультант Плюс»!

    