section.work
    .container
        .title.title--with-bottom-line
            h2.title__header Наши тарифы
            .title__text Доступны всем.
        
        ul.work__list
            li.work__item                
                h4.work__header Тариф Комплексный.
                p.work__description.
                 от 540 рублей в месяц. Вам предоставляется "облачная" 1С:Бухгалтерия, в которую наш бухгалтер заносит предоставленные Вами данные, производит расчет налогов и сборов, отправляет отчетность, расчитывает зарплату и платежи за работников 
            
            li.work__item                
                h4.work__header Тариф Отчетность.
                p.work__description от 400 рублей в месяц. Вам предоставляется "облачная" 1С:Бухгалтерия, в которую Вы самостоятельно заносите данные, а наш бухгалтер производит расчет налогов и сборов, отправляет отчетность

            li.work__item                
                h4.work__header Тариф Расчет ЗП.
                p.work__description от 300 рублей за работника. Наш бухгалтер расчитывает зарплату и размеры платежей за работников. За дополнительную плату предоставляется "облачная" версия 1С:Заработная плата и Управление
                
            li.work__item                
                h4.work__header Тариф ПО и консультация.
                p.work__description от 1500 рублей месяц. Вам предоставляется "облачная" 1С:Бухгалтерия с лицензией на одного пользователя, с возможностью ведения учета по нескольким организациям и с включенным сервисом проверки контрагентов плюс бесплатные консультации по ведению бухучета