section.work
    .container
        .title.title--with-bottom-line
            h2.title__header Наши тарифы
            .title__text Доступны всем.
        
        ul.work__list
            li.work__item                
                h4.work__header Тариф Комплексный.
                p.work__description от 700 рублей в месяц.
            
            li.work__item                
                h4.work__header Тариф Отчетность.
                p.work__description от 700 рублей в месяц.

            li.work__item                
                h4.work__header Тариф Расчет ЗП.
                p.work__description от 300 рублей за работника.
                
            li.work__item                
                h4.work__header Тариф ПО и консультация.
                p.work__description от 1500 рублей месяц.