doctype html
html(lang='ru')
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width')
link(rel="stylesheet", href="css/main.min.css")
body Hi proverka!

include sections/header
include sections/footer