.work{
    
    background-color: #ffde41;
    color: #000000;
    padding: 75px 0 75px 0;
    text-align: center;
    .title{
        @include mrgbottom();
    }
    @media(max-width:760px){
        padding-top: 40px;
        padding-bottom: 30px;
    }  
    @media(max-width:520px){
        padding-top: 20px;
        padding-bottom: 10px;
    }  
    
    &__list {
        display:flex;

        justify-content: space-between;
        flex-wrap: wrap;
        margin:0;
        padding: 0 50px;
    }

    &__item {
        width: 100%;
        @media(max-width:760px)
        {
            width: 100%;
            padding: 5px;
            box-sizing: border-box;
            margin-bottom: 15px;
        }
        @media(max-width:520px)
        {
            width: 100%;
            padding:0;            
            margin-bottom: 0;
        }
    }

    &__header {
        margin: 0 0 12px 0;
        font-size: 1rem;
        font-family: $ff-main-bold;
        color: #000000;               
    }
    &__description {
        margin-top: 0;
        font-size: 0.875rem;
        line-height: 1.5;
        color: #000000;
    }

    .title--with-bottom-line {
        position: relative;
        
        &:after {
            @include centerer-x(); 
            content: '';
            bottom: -16px;    
            width: 47px; 
            height: 5px;
            background: #000000;
        }  
    }
}