.work{
    
    background-color: #ffde41;
    color: #000000;
    padding: 99px 0 105px 0;
    text-align: center;
    
    &__list {
        display:flex;

        justify-content: space-between;
        flex-wrap: wrap;
        margin:0;
        padding: 0 50px;
    }

    &__item {
        width: 25%;
    }

    &__header {
        margin: 0 0 12px 0;
        font-size: 1rem;
        font-family: $ff-main-bold;
        color: #000000;
    }
    &____description {
        margin-top: 0;
        font-size: 0.5rem;
        line-height: 1.5;
        color: #000000;
    }

    .title--with-bottom-line {
        position: relative;
        
        &:after {
            @include centerer-x(); 
            content: '';
            bottom: -16px;    
            width: 47px; 
            height: 5px;
            background: #000000;
        }  
    }
}